/**
 * odwp-courses
 *
 * @author Ondřej Doněk, <ondrejd@gmail.com>
 * @license Mozilla Public License 2.0 https://www.mozilla.org/MPL/2.0/
 * @link https://bitbucket.com/ondrejd/odwp-courses
 */

table.accounts .column-deleted { width: 140px; }

#course_fio_bank_account {
  /*width: 155px;*/
  height: 21px;
  line-height: 14px;
  padding: 0;
  vertical-align: top;
  font-size: 12px;
}

.timestamp-wrap .day,
.timestamp-wrap .hour,
.timestamp-wrap .minute {
  font-size: 12px;
  height: 21px;
  width: 2.1em;
}
.timestamp-wrap .month {
  height: 21px;
  line-height: 14px;
  padding: 0;
  vertical-align: top;
  font-size: 12px;
}
.timestamp-wrap .year {
  font-size: 12px;
  height: 21px;
  width: 3.4em;
}
.timestamp-wrap .second {}